@charset "utf-8";
.readingCont {
	width: 100%;
	height: calc(3998px/2);
	padding-top: 70px;
	background: url(../images/p140_02/read_bg.png) top center / 100% no-repeat;
}

.mainTitle {
	width: calc(1036px/2);
	height: calc(362px/2);
	margin: 0 auto 50px;
	background: url(../images/p140_02/title.png) top center / 100% no-repeat;
}
.mainTitle.on { background-image: url(../images/p140_02/title_h.png); }
.isPlayAgaing .mainTitle.on { background-image: url(../images/p140_02/title_b.png); }

.readingCont { position: relative; }

.mainContent .ParagraphBox { margin-top: 140px; }
.mainContent .ParagraphBox .Paragraph { width: 920px; margin-left: 330px; }
.mainContent .ParagraphBox .Paragraph:nth-of-type(2) { margin-top: 26px; }

/* 리딩퀴즈 */
.popup[data-use="readingQuiz"] .readingAnswer .inputBox { width: 100%;}