@charset "utf-8";
.readingCont {
	width: 100%;
	height: calc(3422px/2);
	padding-top: 70px;
	background: url(../images/p157_01/read_bg.png) top center / 100% no-repeat;
}

.mainContent .ParagraphBox { margin-top: 30px; }

/* 리딩퀴즈 */